.title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  margin-top: 2rem;
}
.return_button {
  display: flex;
  justify-content: center;
  width: 100%;
}

div button {
  margin-top: 2px;
  width: 20rem;
  height: 3rem;
}
