<div class="center-table">
  <div class="table-tasks-container">
    <ul class="title">
      <li class="id-column">Id</li>
      <li class="name-column">Nome</li>
      <li>Ações</li>
    </ul>

    <ul class="item" *ngFor="let task of tasks">
      <li class="item-id" title="{{ task.id }}">
        {{ task.id }}
      </li>

      <li class="item-name">
        {{ task.name }}
      </li>

      <ng-template #isFive>
        <li class="item-name">house</li>
      </ng-template>

      <li class="actions-icons">
        <a routerLink="" (click)="reloadTask(task.id!)" class="reload">
          <i class="material-icons" title="Marcar como não concluida">
            autorenew
          </i>
        </a>

        <a routerLink="../cancel/{{ task.id }}" class="delete">
          <i class="material-icons" title="Deletar"> close </i>
        </a>
      </li>
    </ul>
  </div>
</div>
