/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --primary-color: #142c8a;
  --second-color: #1d6cbf;
  --third-color: #f2df84;
}

.snack-bar-sucess {
  background-color: #6cc070;
}

.snack-bar-error {
  background-color: #ff3333;
}
